In [2]:
import pandas as pd 
import requests
import re
import os
import time
import json

archivo = open("C:/Users/Nur/Documents/tokens/tmdb_token.txt", "r")
contenido = archivo.read()
archivo.close()
token = contenido

# INFO

- [ ] cruzar con tmdb, rotten tomatoes, etc
- [ ] oscar bait
- [ ] [IMDB academy awards](https://www.imdb.com/event/ev0000003/2023/1/?ref_=ev_eh)
- [ ] [Cinema timeline](https://www.timetoast.com/timelines/evolution-of-movies-75835972-1771-4afa-8a8c-6b3356decbf6)
- [ ] [AI Movie Companion for Ratings](https://routinehub.co/shortcut/15932/)

# PRUEBAS

## API

[TMDB API](https://developer.themoviedb.org/reference/search-movie)

In [3]:
url = "https://api.themoviedb.org/3/search/movie?query=wings&include_adult=false&language=en-US&page=1&year=1927"

headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {token}"
}

response = requests.get(url, headers=headers)

print(response.text)

{"page":1,"results":[{"adult":false,"backdrop_path":"/soJGAjMOnvHaWZvAZm7r5OMTpM4.jpg","genre_ids":[18,28,10752,10749],"id":28966,"original_language":"en","original_title":"Wings","overview":"Two young men, one rich, one middle class, both in love with the same woman, become US Air Corps fighter pilots and, eventually, heroic flying aces during World War I. Devoted best friends, their mutual love of the girl eventually threatens their bond. Meanwhile, a hometown girl who's the lovestruck lifelong next door neighbor of one of them pines away.","popularity":12.734,"poster_path":"/kEl6KCBgdmT1Nex3ka0EIWAOmtm.jpg","release_date":"1927-08-12","title":"Wings","video":false,"vote_average":7.2,"vote_count":246},{"adult":false,"backdrop_path":null,"genre_ids":[],"id":271418,"original_language":"en","original_title":"Many Wings","overview":"\"Throughout the World, every coast has a Bird Rock.\" A short of seaside images.","popularity":0.6,"poster_path":null,"release_date":"1927-11-21","title":"Many Wings","video":false,"vote_average":0.0,"vote_count":0}],"total_pages":1,"total_results":2}

genre_ids  
original language

In [9]:
url = "https://api.themoviedb.org/3/genre/movie/list?language=en"

headers = {
    "accept": "application/json",
    "Authorization": f"Bearer {token}"
}

response = requests.get(url, headers=headers)

genres = response.json()

In [18]:
with open('./data/genres.txt', 'w') as file:
        json.dump(genres, file, indent=2)

In [19]:
with open("./data/genres.json", 'w') as g:
    json.dump(genres, g, indent=2)

In [13]:
df_genres = pd.DataFrame(genres["genres"])
df_genres

       id             name
0      28           Action
1      12        Adventure
2      16        Animation
3      35           Comedy
4      80            Crime
5      99      Documentary
6      18            Drama
7   10751           Family
8      14          Fantasy
9      36          History
10     27           Horror
11  10402            Music
12   9648          Mystery
13  10749          Romance
14    878  Science Fiction
15  10770         TV Movie
16     53         Thriller
17  10752              War
18     37          Western

In [14]:
df_genres.to_csv("./data/genres.csv")

## REQUEST

In [5]:
df_best_picture = pd.read_csv("./data/best_picture.csv", index_col=0)
df_best_picture.sample(1)

,year_film,year_ceremony,ceremony,name,film,winner
6007,1981,1982,54,"Bruce Gilbert, Producer",On Golden Pond,False

In [6]:
df_prueba = df_best_picture.loc[7288]
df_prueba = pd.DataFrame(df_prueba).T
df_prueba

,year_film,year_ceremony,ceremony,name,film,winner
7288,1993,1994,66,"Jim Sheridan, Producer",In the Name of the Father,False

In [7]:
# movie_data = []
# for i in df_best_picture.loc[7288]:
#     # Enviar una petición a la API
#     name = df_best_picture["film"].str.replace(" ", "%20")
#     year = df_best_picture["year_film"]
#     url = f"https://api.themoviedb.org/3/search/movie?query={name}&include_adult=false&language=en-US&page=1&year={year}"
#     headers = {
#     "accept": "application/json",
#     "Authorization": f"Bearer {token}"
#     }

#     response = requests.get(url, headers=headers)

#     # Esperar a que se complete la petición
#     time.sleep(1/50)

#     movie_data.append(response.json())
# movie_data

In [8]:
movie_data = []
base_url = "https://api.themoviedb.org/3/search/movie?"

for index, row in df_best_picture.iterrows():
    # Obtener el nombre de la película y el año de la fila actual
    name = row['film'].replace(" ", "%20")
    year = row['year_film']

    # Construir la URL con los parámetros de la búsqueda
    url = f"{base_url}query={name}&include_adult=false&language=en-US&page=1&year={year}"

    # Configurar los encabezados con el token de autenticación
    headers = {
        "accept": "application/json",
        "Authorization": f"Bearer {token}"
    }

    # Realizar la solicitud a la API
    response = requests.get(url, headers=headers)
    time.sleep(1/50)
    
    # Que el titulo del resultado sea exactamente el mismo q el del df
    for result in response.json()['results']:
        if result['title'] == row['film']:
            movie_data.append(result)

# Ahora movie_data contiene la información de todas las películas en df_best_picture

In [9]:
df_movie_data = pd.DataFrame(movie_data)
df_movie_data.sample(1)

,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
219,False,/t3bXP5pUnckfoJ8WonlvAGovCun.jpg,"[18, 10749]",30080,en,Ship of Fools,Passengers on a ship traveling from Mexico to ...,10.298,/2LOe4Hu6Gxw6k76hLWhS8JVVILa.jpg,1965-07-29,Ship of Fools,False,6.6,78

In [10]:
df_movie_data.drop(columns=["adult", "backdrop_path", "poster_path", "video"], inplace=True)
df_movie_data

,genre_ids,id,original_language,original_title,overview,popularity,release_date,title,vote_average,vote_count
0,"[18, 10749]",82474,en,7th Heaven,A dejected Parisian sewer worker feels his pra...,11.372,1927-09-10,7th Heaven,7.300,88
1,"[18, 28, 10752, 10749]",28966,en,Wings,"Two young men, one rich, one middle class, bot...",12.734,1927-08-12,Wings,7.200,246
2,"[28, 37]",83989,en,In Old Arizona,Army Sergeant Mickey Dunn sets out in pursuit ...,6.854,1928-12-25,In Old Arizona,5.200,23
3,[18],83990,en,The Patriot,"In 18th-Century Russia, the Czar, Paul, is sur...",3.791,1928-09-01,The Patriot,5.000,3
4,"[18, 36]",84274,en,Disraeli,Prime Minister of Great Britain Benjamin Disra...,2.351,1929-11-01,Disraeli,5.500,15
...,...,...,...,...,...,...,...,...,...,...
563,"[28, 12, 878]",545611,en,Everything Everywhere All at Once,An aging Chinese immigrant is swept up in an i...,66.960,2022-03-24,Everything Everywhere All at Once,7.813,5466
564,"[18, 35]",804095,en,The Fabelmans,"Growing up in post-World War II era Arizona, y...",61.797,2022-11-11,The Fabelmans,7.709,1894
565,"[28, 18]",361743,en,Top Gun: Maverick,After more than thirty years of service as one...,140.187,2022-05-24,Top Gun: Maverick,8.247,7866
566,"[35, 18]",497828,en,Triangle of Sadness,A celebrity model couple are invited on a luxu...,31.615,2022-09-18,Triangle of Sadness,7.115,1732
567,[18],777245,en,Women Talking,A group of women in an isolated religious colo...,25.013,2022-12-23,Women Talking,6.891,450

In [11]:
df_movie_data.to_csv("./data/movie_data.csv")

## JSON

In [12]:
for i in range(len(df_best_picture)):
    url = "https://api.themoviedb.org/3/search/movie?query=wings&include_adult=false&language=en-US&page=1&year=1927"

    headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiJkODZjMWUxNWRhMDI2Y2E0NDZhMzUyYTMwODY4N2ZjYyIsInN1YiI6IjY1NjIyOTc5MzY3OWExMDk3OTA1ZGRlNyIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.ljIozDoGs4w7O-LXH53YCTgJyvvKk2zW3M4wJMG0O5g"
    }

response = requests.get(url, headers=headers)

print(response.json())

{'page': 1, 'results': [{'adult': False, 'backdrop_path': '/soJGAjMOnvHaWZvAZm7r5OMTpM4.jpg', 'genre_ids': [18, 28, 10752, 10749], 'id': 28966, 'original_language': 'en', 'original_title': 'Wings', 'overview': "Two young men, one rich, one middle class, both in love with the same woman, become US Air Corps fighter pilots and, eventually, heroic flying aces during World War I. Devoted best friends, their mutual love of the girl eventually threatens their bond. Meanwhile, a hometown girl who's the lovestruck lifelong next door neighbor of one of them pines away.", 'popularity': 12.734, 'poster_path': '/kEl6KCBgdmT1Nex3ka0EIWAOmtm.jpg', 'release_date': '1927-08-12', 'title': 'Wings', 'video': False, 'vote_average': 7.2, 'vote_count': 246}, {'adult': False, 'backdrop_path': None, 'genre_ids': [], 'id': 271418, 'original_language': 'en', 'original_title': 'Many Wings', 'overview': '"Throughout the World, every coast has a Bird Rock." A short of seaside images.', 'popularity': 0.6, 'poster_path': None, 'release_date': '1927-11-21', 'title': 'Many Wings', 'video': False, 'vote_average': 0.0, 'vote_count': 0}], 'total_pages': 1, 'total_results': 2}

In [13]:
response.json()

{'page': 1,
 'results': [{'adult': False,
   'backdrop_path': '/soJGAjMOnvHaWZvAZm7r5OMTpM4.jpg',
   'genre_ids': [18, 28, 10752, 10749],
   'id': 28966,
   'original_language': 'en',
   'original_title': 'Wings',
   'overview': "Two young men, one rich, one middle class, both in love with the same woman, become US Air Corps fighter pilots and, eventually, heroic flying aces during World War I. Devoted best friends, their mutual love of the girl eventually threatens their bond. Meanwhile, a hometown girl who's the lovestruck lifelong next door neighbor of one of them pines away.",
   'popularity': 12.734,
   'poster_path': '/kEl6KCBgdmT1Nex3ka0EIWAOmtm.jpg',
   'release_date': '1927-08-12',
   'title': 'Wings',
   'video': False,
   'vote_average': 7.2,
   'vote_count': 246},
  {'adult': False,
   'backdrop_path': None,
   'genre_ids': [],
   'id': 271418,
   'original_language': 'en',
   'original_title': 'Many Wings',
   'overview': '"Throughout the World, every coast has a Bird Rock." A short of seaside images.',
   'popularity': 0.6,
   'poster_path': None,
   'release_date': '1927-11-21',
   'title': 'Many Wings',
   'video': False,
   'vote_average': 0.0,
   'vote_count': 0}],
 'total_pages': 1,
 'total_results': 2}

In [14]:
datos = [json.loads(linea) for linea in f]
print(type(datos))
datos

NameError: name 'f' is not defined