In [78]:
import pandas as pd

In [79]:
df_best_picture = pd.read_csv("./data/best_picture.csv")
df_movie_data = pd.read_csv("./data/movie_data_final.csv")
df_ratings = pd.read_csv("./data/ratings.csv")
df_duracion = pd.read_csv("./data/duracion.csv")

In [80]:
df_best_picture.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   year_film      591 non-null    int64
 1   year_ceremony  591 non-null    int64
 2   ceremony       591 non-null    int64
 3   name           591 non-null    object
 4   film           591 non-null    object
 5   winner         591 non-null    bool
dtypes: bool(1), int64(3), object(2)
memory usage: 23.8+ KB

In [81]:
df_movie_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 7 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   original_language  591 non-null    object
 1   original_title     591 non-null    object
 2   overview           591 non-null    object
 3   release_date       591 non-null    object
 4   title              591 non-null    object
 5   vote_average       591 non-null    float64
 6   genre              591 non-null    object
dtypes: float64(1), object(6)
memory usage: 32.4+ KB

In [82]:
df_ratings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   title   582 non-null    object
 1   rating  581 non-null    float64
dtypes: float64(1), object(1)
memory usage: 9.4+ KB

In [83]:
df_duracion.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   title     582 non-null    object
 1   duration  582 non-null    float64
dtypes: float64(1), object(1)
memory usage: 9.4+ KB

In [84]:
df_final = pd.concat([df_best_picture, df_movie_data, df_ratings, df_duracion], axis=1)

In [85]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year_film          591 non-null    int64
 1   year_ceremony      591 non-null    int64
 2   ceremony           591 non-null    int64
 3   name               591 non-null    object
 4   film               591 non-null    object
 5   winner             591 non-null    bool
 6   original_language  591 non-null    object
 7   original_title     591 non-null    object
 8   overview           591 non-null    object
 9   release_date       591 non-null    object
 10  title              591 non-null    object
 11  vote_average       591 non-null    float64
 12  genre              591 non-null    object
 13  title              582 non-null    object
 14  rating             581 non-null    float64
 15  title              582 non-null    object
 16  duration           582 non-null    float64
dtypes: bool(1), float64(3), int64(3), object(10)
memory usage: 74.6+ KB

In [86]:
df_final.drop(columns=["name", "overview"], inplace=True)

In [87]:
df_final.drop(columns="title", inplace=True)

In [88]:
df_final

,year_film,year_ceremony,ceremony,film,winner,original_language,original_title,release_date,vote_average,genre,rating,duration
0,1927,1928,1,The Racket,False,en,The Racket,1928-11-01,6.400,"['Crime', 'Drama']",6.6,84.0
1,1927,1928,1,7th Heaven,False,en,7th Heaven,1927-09-10,7.317,"['Drama', 'Romance']",7.6,110.0
2,1927,1928,1,Wings,True,en,Wings,1927-08-12,7.198,"['Drama', 'Action', 'War', 'Romance']",7.5,144.0
3,1928,1929,2,Alibi,False,en,Alibi,1929-04-20,5.656,"['Action', 'Crime', 'Thriller']",5.7,91.0
4,1928,1929,2,In Old Arizona,False,en,In Old Arizona,1928-12-25,5.208,"['Action', 'Western']",5.5,95.0
...,...,...,...,...,...,...,...,...,...,...,...,...
586,2022,2023,95,The Fabelmans,False,en,The Fabelmans,2022-11-11,7.692,"['Drama', 'Comedy']",7.5,151.0
587,2022,2023,95,Tár,False,en,TÁR,2022-09-23,7.143,"['Drama', 'Music']",7.4,158.0
588,2022,2023,95,Top Gun: Maverick,False,en,Top Gun: Maverick,2022-05-24,8.237,"['Action', 'Drama']",8.3,130.0
589,2022,2023,95,Triangle of Sadness,False,en,Triangle of Sadness,2022-09-18,7.116,"['Comedy', 'Drama']",7.3,147.0
590,2022,2023,95,Women Talking,False,en,Women Talking,2022-12-23,6.908,"['Drama', 'Crime']",6.9,104.0

In [89]:
df_final.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 591 entries, 0 to 590
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   year_film          591 non-null    int64
 1   year_ceremony      591 non-null    int64
 2   ceremony           591 non-null    int64
 3   film               591 non-null    object
 4   winner             591 non-null    bool
 5   original_language  591 non-null    object
 6   original_title     591 non-null    object
 7   release_date       591 non-null    object
 8   vote_average       591 non-null    float64
 9   genre              591 non-null    object
 10  rating             581 non-null    float64
 11  duration           582 non-null    float64
dtypes: bool(1), float64(3), int64(3), object(5)
memory usage: 51.5+ KB

In [93]:
df_final.to_csv("./data/df_final.csv", index=False)